@font-face {font-family: "Scriptina"; 
    src: url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot"); src: url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff") format("woff"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.svg#Scriptina") format("svg"); }

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    text-align:center;
    font-family:Arial Narrow, Arial, sans-serif;
}

nav, a{
    font-family:Arial Narrow, Arial, sans-serif;
    color:Black;
    text-align: center;
    text-decoration: none;
    word-spacing:10%px;
    padding:10px
}


main, img {
    text-align: center;
    max-height: 100%;
    width:85%;
}
