@import url(//db.onlinewebfonts.com/c/6bccacc0af0302222227e090e8a03f3f?family=Scriptina);
@font-face {font-family: "Scriptina"; src: url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot"); src: url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff") format("woff"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.svg#Scriptina") format("svg"); } 

* {
    margin:0;
    padding:0;
    outline:0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    margin-top:0;
    position:relative;
    height:100px;
    font-family:Arial Narrow, Arial, sans-serif;
    background-image: url(images/header_background_x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

nav, a{
    font-family:Arial Narrow, Arial, sans-serif;
    color:Black;
    text-align: center;
    text-decoration: none;
    word-spacing:20px;
    letter-spacing:2px;
}

main, img {
    text-align: center;
    max-height:100%;
    padding-top:0%;
    width:85%;
}

#headertable{
    width:85%;
    padding-top:4%
}

#count{
    font-family:Scriptina;
    letter-spacing:2px;
    text-align:center;
}

#languages{
    text-align:left;
    width:10%;
    box-sizing: border-box;
    padding-left: 5%;
}