@import url(http://db.onlinewebfonts.com/c/6bccacc0af0302222227e090e8a03f3f?family=Scriptina);
@font-face {font-family: "Scriptina"; src: url("http://db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot"); src: url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.woff") format("woff"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6bccacc0af0302222227e090e8a03f3f.svg#Scriptina") format("svg"); } 
* {
    margin:0;
    padding:0;
    outline:0;
    font-size: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 300;
/*     vertical-align: baseline;
    background: transparent; */
}

h2 {
    font-size: 1.5em;
    margin: 1em 1em 0em 0em;
}
h3 {
    font-size: 1em;
    margin: 1em 1em 0em 0em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100px;
    margin-top:0;
    font-family:Arial Narrow, Arial, sans-serif;
    background-image: url(images/header_background_x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

header p{
    align-self: center;
}

.nav-container {
    display:flex;
}

.nav-box-outer{
    display:flex;
    flex: 1;
    justify-content:center;
}
.nav-box-inner{
    display:flex;
    flex: 2;
    justify-content:center;
}

nav {
    border-top: 0.5px solid black;
}

.btn-nav{
    text-align:center;
    border: none;
    background:none;
    display: inline;
    font-family:Arial Narrow, Arial, sans-serif;
    color:Black;
    padding: 1em 1em 0;
    letter-spacing:2px;
    transition: 1s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
nav .btn-nav:hover{
    border-color: black;
}


nav a{
    text-align:center;
    display: inline;
    font-family:Arial Narrow, Arial, sans-serif;
    color:Black;
    padding-top: 1em;
    letter-spacing:2px;
    transition: 1s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.nav-box:last-child > a {
    margin-left:auto;
    margin-right:auto;
}


nav a:hover{
    border-color: black;
    color: black;
}

main, img {
    margin:auto;
    max-height:100%;
    width:85%;
}

.welcome-text{
    font-family: 'Roboto', sans-serif;
    width: 85%;
    margin: auto;
    margin-bottom: 10%;

}

.modal-header{
    justify-content: center;
}

.modal-footer{
    justify-content: center;
}

.modal_close {
    background: none;
    border: none;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
.modal-body{
    margin:0 0 1em 1em;
}

#timetable {
    margin: auto;
    white-space: pre-line;
}

#timetable td{
    padding: 1em 1em 1em 1em;
    vertical-align: top;
    font-weight: 500;
}
#timetable td > p{
       font-weight: 300;
}



#countdown{
    letter-spacing:2px;
}

/* #language{
    text-align:right;
    width:10%;
} */